/*--------Definiciones generales para todo el doc----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Yeseva+One&display=swap');


*{
	font-family: 'Poppins', sans-serif;
  margin: 0;
	padding: 0;
	line-height: 2rem;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}


body {
  background-image: url(../img/fondo-min.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow-x: hidden; }


.textCenter{
  text-align: center;
}


#lineas .alineaCards{
  position: relative;
  display: flex;
  flex-wrap: grap;
  flex-direction: row;
  justify-content:  center;
}


#lista .alineaCards{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}


.margenCards{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tamañoTitulos{
  font-size: 3rem;
  text-decoration: underline;
}


.tamañoTitulos2{
  font-size: 2rem;
  text-decoration: underline;
  font-style: bold;
  text-align: center;
}
.lineasItems{position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    cursor: default;
    border-radius: 1rem;
    background-color: white;
    transition: background 0.3s;
    position: relative;
    float: center; 
  }

.botonMas{
      color: inherit;
      border: none;
      font-weight: bold;
      margin-top: auto;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      background: #809696;
      transition: background 0.3s; 
    }
.botonMas:focus  {
      outline: none; 
    }

.alineaInfo{
      text-align: center;
      margin: 0rem;
      padding: 0rem;
      list-style: outside none none;
      font-size: 1rem; 
}

.listaLinea {
      margin: 0rem;
      padding: 1rem 1.25rem 2rem;
      font-size: 1.5rem; 
}
.listaLinea:hover {
      cursor: pointer;
      font-size: 2rem;
      transition: all 2s;
      background-color: rgba(221, 235, 235, 0.9); 
    }



/*
let tabla=document.createElement("table");
tabla.className="table table-dark table-striped";

for(const linea of listaCondiciones){
    let fila=document.createElement("div");
    fila.innerHTML=`
    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <td>${linea.nombre}</td>
                <td>${linea.montoMaximo}</td>
                <td>${linea.ingresoMinimo}</td>
                <td>${linea.plazoMaximaMeses}</td>
            </tr>
        </tbody>
    </table>
    `;
    lista.appendChild(fila);
}

let insertaLista=document.getElementById("lista");
insertaLista.appendChild(lista);*/